.container {
	padding-left: 30px;
	padding-top: 30px;
}

.details .title {
	font-weight: 500;
	font-size: 16;
	text-decoration: underline;
	margin-bottom: 5px;
}
.details .info {
	font-size: 14;
}

.comments {
	margin-top: 15px;
}

.comments > .title {
	font-weight: 500;
	font-size: 16;
	text-decoration: underline;
	margin-bottom: 5px;
}

.comments > .comment {
	border: 1px solid gray;
	border-radius: 4px;
	padding: 25px;
	width: fit-content;
	cursor: pointer;
}

.comments > .comment:not(:last-child) {
	margin-bottom: 15px;
}
